.blog-post {
  counter-reset: sections;

  h1,
  h2 {
    background: linear-gradient(30deg, $color-gold, $color-yellow);
    background-color: $color-gold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    @include css-lock("font-size", "rem", 2.5, 3);
    line-height: 1.3;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  h2 {
    @include css-lock("font-size", "rem", 1.45, 1.5);
    display: inline-block;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 1rem;
    padding-right: .2em;
    position: relative;
    text-transform: uppercase;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      background-color: $color-black;
      height: calc(100% + 14px);
      min-height: 1em;
      right: calc(100% + 1px);
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      z-index: 2;
    }

    &::after {
      border-image-slice: 1;
      border-image-source: linear-gradient(30deg, $color-gold, $color-yellow);
      border-style: solid;
      border-width: .14em;
      bottom: -.2em;
      border-left: none;
      border-left: none;
      pointer-events: none;
      transform: skewX(-6.6deg);
      left: -10px;
      top: -.1em;
      width: calc(100% + 10px);
    }
  }

  h3 {
    line-height: 1.5;
    margin-bottom: -.75rem;
    margin-top: 2.75rem;
  }

  ol {
    list-style: none;
  }

  ol,
  ul {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  >li:first-child {
    >h3:first-child {
      margin-top: 0;
    }
  }

  .numbered-heading {
    counter-increment: sections;
    position: relative;
    margin-left: 1.5ch;

    &::before {
      -webkit-background-clip: text;
      background-color: $color-gold;
      content: counter(sections) '. ';
      font-size: .9em;
      height: auto;
      top: 2px;
      transform: none;
    }

    span {
      background-color: $color-black;
      height: calc(100% + 20px);
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      z-index: 1;
    }
  }

  .image {
    display: block;
    line-height: 1;
    margin: 3rem auto;
    max-width: 100%;
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  time {
    display: block;
    text-align: center;
  }

  @media screen and (min-width: 600px) {

    ol,
    ul {
      padding-left: 2ch;
    }

    ol {
      .numbered-heading {
        h2 {
          margin-left: 0;
        }
      }
    }
  }
}
