html,
body {
  @include body-font();
  font-family: "Cartograph CF", $sans-serif-fallback;
  line-height: 1.7;
}

b,
strong {
  @include body-font-bold-italic();
}

a {
  background-image: linear-gradient(to right, $color-white 50%, $color-black 51%);
  background-position: 0% 95%;
  background-repeat: repeat-x;
  background-size: 6px 1px;
  color: inherit;
  padding-bottom: .25em;
  position: relative;
  text-decoration: none;
  text-shadow: -1px -1px 0 $color-black, 1px -1px 0 $color-black, -1px 1px 0 $color-black, 1px 1px 0 $color-black;
  transition: background .1s ease;

  &:hover {
    background-image: linear-gradient(to right, $color-yellow 50%, $color-black 51%);
    color: $color-yellow;
  }
}

code,
kbd,
pre,
pre[class*="language-"],
samp {
  @include css-lock("font-size", "rem", 1.02, 1.12);
  @include code-font();
  font-family: 'Cartograph CF', monospace;
}

kbd:not(.key) {
  @include body-font();
}

p,
li {
  @include css-lock("font-size", "rem", 1.05, 1.15);
  letter-spacing: 1px;
  line-height: 1.95;
}

p code .key {
  border-radius: 4px;
  padding: .1em .3em .15em;
}

p code {
  @include code-font-bold-italic();
}

.key {
  border: .1em solid $color-dark-gray;
  padding: .05em .3em .1em;
}

p code,
pre,
pre[class*="language-"] {
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, .2);
  text-shadow: none;
}

p,
pre {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

pre {
  border: 2px dashed $color-white;
  border-radius: 10px;
  padding: 1em;
  margin: .5em 0;
  overflow: auto
}

pre,
pre[class*="language-"] {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font-bold-italic-fancy();
}

ol,
ul {
  padding-left: 0;
}

.break-word, .break-word>* {
  word-break: break-word;
}

.no-wrap .no-wrap>* {
  white-space: nowrap;
}

.ui-flow {
  border: 2px solid $color-white;
  border-radius: 4px;
  padding: 0 4px 4px;
}

.input,
.code-emphasis {
  background: linear-gradient(30deg, $color-gold, $color-yellow);
  border-radius: 4px;
  color: $color-black;
  display: inline;
  margin: .075em;
  padding: .05em .25em .1em;
  top: .05em;
}

.input {
  background-color: $color-white;
}

.code-emphasis {
  background: linear-gradient(30deg, $color-gold, $color-yellow);
}
