.dropdown-list {
	&:first-of-type {
		margin-block-start: 0.75em;
	}

	& + .dropdown-list {
		margin-block-start: utopia.clamp(24, 16);
	}

	&[open] + details {
		margin-block-start: utopia.clamp(32, 24);
	}

	h2 {
		display: inline;
		font-size: 1.5em;
		font-style: normal;
		margin-inline-start: 0.2em;
	}

	li a:first-of-type {
		font-style: italic;
		font-weight: bold;
	}

	li + li {
    margin-block-start: utopia.clamp(24, 12);
	}

	summary {
    margin-block-end: utopia.clamp(20, 12);
	}
}
