.dropdown-list {
  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }

  &::details-content {
    block-size: 0;
    opacity: 0;
    overflow-y: clip;
    transition: block-size .2s, content-visibility .2s allow-discrete, opacity .2s;
  }

  &[open]::details-content {
    block-size: auto;
    opacity: 1;
  }

	&:first-of-type {
		margin-block-start: 0.75em;
	}

	& + .dropdown-list {
		margin-block-start: utopia.clamp(24, 16);
	}

	&[open] + & {
		margin-block-start: utopia.clamp(32, 24);
	}

	h2 {
		display: inline;
		font-size: 1.5em;
		font-style: normal;
		margin-inline-start: 0.2em;
	}

  ul {
    padding-block-end: 2px;
  }

	li a:first-of-type {
		font-style: italic;
		font-weight: bold;
	}

	li + li {
		margin-block-start: utopia.clamp(24, 12);
	}

	summary {
		align-items: center;
		display: flex;
		gap: 0.5ch;
		list-style-type: none;
		margin-block-end: utopia.clamp(20, 12);
	}

	summary::before {
		content: '►';
		user-select: none;
	}

	&[open] > summary::before {
		content: '▼'
	}
}
