@font-face {
	font-family: 'Cartograph CF';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/CartographCF-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Cartograph CF';
	font-style: italic;
	font-weight: normal;
	src: url('/fonts/CartographCF-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Cartograph CF';
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/CartographCF-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Cartograph CF';
	font-style: italic;
	font-weight: bold;
	src: url('/fonts/CartographCF-BoldItalic.woff2') format('woff2');
}
