@define-mixin body-font {
	font-feature-settings: 'ss05';
}

@define-mixin body-font-bold {
	font-feature-settings: 'ss05';
	font-style: normal;
	font-weight: bold;
}

@define-mixin body-font-bold-italic {
	font-feature-settings: 'ss01', 'ss05';
	font-style: italic;
	font-weight: bold;
}

@define-mixin title-font {
	font-feature-settings: 'ss05', 'cpsp';
	font-style: italic;
	font-weight: bold;
}

@define-mixin code-font {
	font-feature-settings: 'ss03';
	font-variant-ligatures: common-ligatures;
}

@define-mixin code-font-bold-italic {
	font-feature-settings: 'ss01';
	font-style: italic;
	font-variant-ligatures: common-ligatures;
	font-weight: bold;
}

@define-mixin small-title-font {
	font-feature-settings: 'ss01';
  font-size: utopia.clamp(16, 18);
  font-style: normal;
  font-weight: bold;
  text-transform: none;
}

@define-mixin small-block-font {
	font-feature-settings: 'ss01';
  font-size: utopia.clamp(14, 16);
  line-height: utopia.clamp(28, 32);
}

@define-mixin small-inline-font {
	font-feature-settings: 'ss01';
  font-size: utopia.clamp(13.6, 15.58);
}
