.blog-post
  h1
  h2
    background linear-gradient(30deg, #FDC64D, #F8E359)
    background-color #FDC64D
    -webkit-background-clip text
    -webkit-text-fill-color transparent

  h1
    font-size 3rem
    font-style italic
    line-height 1.3
    text-align center

  h2
    display inline-block
    font-size 1.5rem
    font-style italic
    line-height 1.1
    margin-bottom 0
    margin-top 1rem
    padding-right .2em
    position relative
    text-transform uppercase
    &::before
    &::after
      content ''
      position absolute
    &::before
      background-color #FDC64D
      -webkit-background-clip text
      border 10px solid $color-black
      border-left 0
      border-right-width 5px
      min-height 1em
      right 100%
      top 50%
      transform translateY(-50%)
      width 20px
      z-index 1
    &::after
      border-image-slice 1
      border-image-source linear-gradient(30deg, #FDC64D, #F8E359)
      border-style solid
      border-width .14em
      bottom -.2em
      border-left none
      border-left none
      pointer-events none
      transform skewX(-6.6deg)
      left -10px
      top -.1em
      width "calc(%s + 10px)" % 100%

  h3
    line-height 1.5
    margin-bottom -.75rem
    margin-top 2.75rem

  ol
    counter-reset sections
    list-style none
    .numbered-heading
      counter-increment sections
      position relative
      h2::before
        content counter(sections) '. '
        font-family title-font
        font-size .9em

  ol
  ul
    margin-bottom 2rem
    margin-top 2rem
    > li:first-child
      > h3:first-child
        margin-top 0

  .image
    display block
    line-height 1
    margin 3rem auto
    max-width 100%
    text-align center
    img
      max-width 100%

  time
    display block
    text-align center
