.blog-list
  ul
    list-style-type none

  li
    + li
      margin-top 4.5rem

  h2
    css-lock font-size rem 1.8 2
    line-height 1.4
    margin-bottom 1.55rem
    a
      background-image none

  time
    css-lock font-size rem 1 1.1
    display block
    flex-shrink 0
    margin-bottom 1.5rem

  .description
    letter-spacing 1px
    line-height 1.95
    p
      &:first-of-type
        margin-top 0
      &:last-of-type
        margin-bottom 0

  @media (min-width: 600px)
    .header
      align-items flex-start
      display flex
      justify-content space-between

    h2
      margin-bottom 1.2rem
      margin-top 0

    time
      margin-left 3rem
      margin-top .6rem
      text-align right
