@import '_vendor/normalize'
@import '_vendor/prism'
@import '/_colors'
@import '/_fonts'
@import '/_prism'
@import '/_typography'
@import '/_blog-list'
@import '/_blog-post'

html
  height 100%

body
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  background-color $color-black
  color $color-white
  margin 0
  min-height 100%

header
  border-bottom 8px solid #32ccbc
  font-size 2rem
  font-weight bold
  text-align center

main
  margin 0 auto
  max-width 80ch
  padding 1rem

footer
  padding 2rem 1rem
  text-align center
