// Brand colours
$colour-orange: #f25c00;
$colour-white: #f7f7f7;


// Site clolours
$colour-black: #0a0a0a;
$colour-blue: #0e4b9f;
$colour-dark-gray: #666;
$colour-light-gray: #d0d0d0;
$colour-yellow: #fff38e;
