.content-box {
	margin: 0 auto;
	max-width: 36em;
	padding: 0 3.5vw;
	@media (min-width: 481px) {padding: 0 7.5vw;}
	@media (min-width: 769px) {padding: 0 10vw;}
}

.title--mini {
	@include all-but-first-last(1) {
		margin-bottom: 1px solid $colour-black;
	}
}

.title {
	margin-bottom: vr(1.5);
	padding: 0.25em 0 0.1em;
	border: 0.075em solid $colour-black;
	border-radius: 0.15em;
}

.subtitle {
	margin-bottom: 0;
	display: inline-block;
	padding: 0 0.25em 0.075em 0.05em;
	border-top: 0.12em solid $colour-black;
	border-right: 0.12em solid $colour-black;
	border-bottom: 0.12em solid $colour-black;
}

p {
	margin-bottom: vr(1);
	@media (max-width: 480px) {padding: 0 2vw;}
	> code {
		display: inline-block;
		line-height: 1.08;
		padding: 0 0.3em 0.13em;
		border-radius: 0.2em;
	}	
}

ol > li {
	@include first(1) {margin-top: vr(1);}
	margin-bottom: vr(1.5);
	@include last(1) {margin-bottom: 0;}
	> p {
		margin: vr(0.5) 0;
	}
}

.publish-date--mini {
	padding-left: 0.1em;
}

code {
	background-color: $colour-light-gray;
	padding: 0 0.3em 0.15em;
	box-sizing: border-box;
	border-radius: 0.2em;
}

.code-block {
	background-color: $colour-light-gray;
	padding: vr(1);
	margin: 0 0 vr(1);
	overflow: auto;
	border-radius: 0.2em;
	> code {
		background-color: $colour-light-gray;
		padding-bottom: 0.15em;
		box-sizing: border-box;
	}
}

.homepage-hotfix {
	padding-bottom: 0.25em;
}
