@import 'vendor/typi';


// Font stacks
$body-font: TT-Rounds-Condensed,sans-serif;
$code-font: Realtime-Rounded-Semibold,monospace;


// Typi settings: breakpoints and font maps
$breakpoints: (
	small: 481px,
	large: 769px
);

$typi: (
	null: (19px, 1.25),
	small: 21px,
	large: 23px
);

$button-font-map: (
  null: 1.4em,
  small: 1.3em,
  large: 1.2em
);

$title-font-map: (
  null: 2.5em,
  small: 2.75em,
  large: 3em
);

$subtitle-font-map: (
  null: 1.4em,
  small: 1.35em,
  large: 1.3em
);


// Custom normalise
a {
	text-decoration: none;
}


// Styling
.nav-bar {
	font: 1.15em/140% $body-font;
}

.nav-list {
	list-style: none;
	text-align: right;
}

.nav-item .link {
	color: $colour-white;
}

.title {
	@include typi($title-font-map);
	font-family: $body-font;
	font-weight: normal;
	text-align: center;
}

.subtitle {
	@include typi($subtitle-font-map);
	font-family: $code-font;
	font-weight: normal;
	word-spacing: -0.35em;
	text-transform: uppercase;
}

p {
	font-family: $body-font;
	word-spacing: 0.075em;
}

code {
	font-family: $code-font;
}

.code-block {
	white-space: pre;
}

.prompt {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: $colour-dark-gray;
}

.bottom-banner {
	text-align: center;
	color: #efefef;
	font: 0.9em/180% $body-font;
	word-spacing: 0.07rem;
	a {
		color: $colour-yellow;
		&:hover {
			text-decoration: underline;
		}
	}
}