@charset "utf-8";
@import "normalize";
@import "utilities";
@import "colours";
@import "fonts";
@import "vendor/family";
@import "typography";
@import "pages";

html {
	@include typi-base();
}

body {
	margin: 0;
	padding: 0;
	background-color: $colour-white;
}

header {
	background-color: $colour-orange;
	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
		max-width: 1140px;
		margin: 0 auto;
	}
	.logo {
		padding-left: 4.5vw;		
		margin: 0;
		height: 100px;
		width: 200px;
	}
	.nav-bar {
		padding-right: 5vw;
	}
}


.nav-list {
	padding-left: 0;
	margin: 0;
	display: flex;
	@media (min-width: 481px) {justify-content: center;}
	@media (max-width: 480px) {flex-direction: column;}
	> .nav-item {
		@media (min-width: 481px) {margin-left: 4vw;}
	}
}

footer {
	background-color: $colour-dark-gray;
	margin-top: vr(2);
	padding-top: vr(1);
	padding-bottom: vr(1);
	> div {
		margin: 0 auto;
	}
}
