.blog-post-content {
	counter-reset: sections;

	:is(h1, h2, h3, h4, h5, h6) + :is(ol, ul) {
		margin-block-start: 0;
	}

	h2 {
		font-size: clamp(1.35rem, 1.1966rem + 0.6818vw, 1.8rem);
		line-height: 1.4;
		margin-block: 2rem 0.75rem;
		text-transform: uppercase;
	}

	h3 {
		line-height: 1.5;
		margin-block: 1.5rem 0.5rem;
	}

	img {
		display: block;
		margin: 3rem auto;
		max-width: 100%;
	}

	li:first-child :is(h1, h2, h3, h4, h5, h6) {
		margin-block-start: 0;
	}

	:is(ol, ul) {
		margin-block: 1rem 2rem;
	}

	time {
		display: block;
		text-align: center;
	}

	ol li {
		list-style: decimal;
		margin-inline-start: 2rem;
		ol {
			counter-reset: list;
			margin-bottom: 0;
		}
		ol li {
			counter-increment: list;
			list-style: none;
			position: relative;
			&::before {
				content: counter(list, lower-alpha) ") ";
				inset-inline-start: -2rem;
				position: absolute;
			}
		}
	}

	ul li {
		list-style: disc;
	}
}
