$color-white: #e0e0e0;
$color-blue: midnightblue;
$color-dark-gray: #666;
$color-light-gray: #fff8f8;

// Brand colors
$color-orange: #f25c00;

// Site clolours
$color-black: #13172B;
$color-yellow: #fff38e;
$color-pink: #fb185d;
