$color-white: #e0e0e0;
$color-dark-gray: #666;

// Site clolours
$color-black: #13172b;
$color-blue: #6ca9ff;
$color-perano: #b0b8f7;
$color-gold: #fdc64d;
$color-green: #6cd649;
$color-pink: #fb185d;
$color-red: #f86f65;
$color-yellow: #f8e359;
