$color-white: #e0e0e0;
$color-blue: midnightblue;
$color-dark-gray: #666;
$color-light-gray: #fff8f8;

// Brand colors
$color-orange: #f25c00;

// Site clolours
$color-black: #13172B;
$color-perano: #B0B8F7;
$color-gold: #fdc64d;
$color-pink: #fb185d;
$color-yellow: #f8e359;
