---
import Layout from '../layouts/TopLevel.astro';
---

<Layout>
	<details class="dropdown-list" open>
		<summary><h2>Links</h2></summary>
		<ul>
			<li><a href="mailto:emmanuel@odongo.pl">emmanuel@odongo.pl</a> &ndash; Email.</li>
			<li>
				<a href="https://sr.ht/~croccifixio/">sr.ht/~croccifixio</a> &ndash; Source code repository host.
			</li>
		</ul>
	</details>

	<details class="dropdown-list">
		<summary><h2>Projects</h2></summary>
		<ul>
			<li>
				<a href="https://marketplace.visualstudio.com/items?itemName=Croccifixio.blackboard-pro"
					>Blackboard Pro</a
				> &ndash; Dark theme for VSCode.
			</li>
		</ul>
	</details>

	<details class="dropdown-list">
		<summary><h2>Site</h2></summary>
		<ul>
			<li>
				<a href="https://v1.odongo.pl/">v1.odongo.pl</a> &ndash; Built with
				<a href="https://middlemanapp.com/">Middleman</a>, a Ruby-based static site generator.
			</li>
			<li>
				<a href="https://v2.odongo.pl/">v2.odongo.pl</a> &ndash; Built with
				<a href="https://gridsome.org/">Gridsome</a>, a Vue-based static site generator.
			</li>
			<li>
				<a href="https://v3.odongo.pl/">v3.odongo.pl</a> &ndash; Built with
				<a href="https://www.getzola.org/">Zola</a>, a Rust-based static site generator.
			</li>
			<li>
				<a href="https://v4.odongo.pl/">v4.odongo.pl</a> &ndash; Built with
				<a href="https://kit.svelte.dev/">Sveltekit</a>, a Svelte-based web app framework.
			</li>
			<li>
				<a href="https://odongo.pl/">odongo.pl</a> &ndash; Built with
				<a href="https://astro.build/">Astro</a>, an all-in-one web framework.
			</li>
		</ul>
	</details>

	<details class="dropdown-list">
		<summary><h2>Thesis</h2></summary>
		<ul>
			<li>
				<a href="https://thesis.odongo.pl/thesis.pdf">Thesis (PDF, 5.8MB)</a> &ndash; Undefended thesis
				on the Design and Simulation of Periodic Ring Resonator Structures. Includes a
				<a href="https://thesis.odongo.pl/">web app for editing the structures</a>.
			</li>
		</ul>
	</details>
</Layout>
