---
import type { Post } from '../../content/types';

interface Props {
	sources: NonNullable<Post['data']['sources']>;
}

const { sources } = Astro.props;
---

<dl>
	<dt>Sources</dt>
	<dd>
		<ul>
			{
				sources.map(({ text, url }) => (
					<li>
						<a href={url}>{text}</a>
					</li>
				))
			}
		</ul>
	</dd>
</dl>

<style>
	@import url('/src/styles/config/_mixins.css');

	dl {
		display: flex;
		flex-direction: column;
		gap: 0.5rem 0;
	}
	dt {
		@mixin small-title-font;
		&::after {
			content: ': ';
		}
	}
	dd {
		font-style: italic;
	}
	li {
		@mixin small-block-font;
		margin-inline-start: 2rem;
		+ li {
			margin-block-start: 0.25rem;
		}
	}
	ul {
		margin: 0;
		list-style: disc;
	}
</style>
