---
import type { Post } from '../content/types';

interface Props {
	dependencies: NonNullable<Post['data']['dependencies']>;
}

const { dependencies } = Astro.props;
---

<table>
	<thead>
		<tr>
			<th>Dependency</th>
			<th>Version</th>
		</tr>
	</thead>
	<tbody>
		{
			Object.entries(dependencies).map(([dependency, version]) => (
				<tr>
					<td>{dependency}</td>
					<td>{version}</td>
				</tr>
			))
		}
	</tbody>
</table>

<style>
	@import url('/src/styles/config/_mixins.css');

	table {
		@media (max-width: 400px) {
			width: 100%;
		}
	}

	tbody {
		border: var(--border-width) solid currentColor;
		tr:first-child td {
			padding-block-start: 0.3em;
		}
		tr:last-child td {
			padding-block-end: 0.3em;
		}
	}

	td {
		border-right: var(--border-width) solid currentColor;
		min-width: 66%;
		padding: 0.1em 0.6em;
		&:last-child {
			@mixin code-font;
		}
	}

	th {
		border: var(--border-width) solid currentColor;
		font-weight: bold;
		padding: 0.1em 0.6em;
	}
</style>
