---
import { navItems } from '../consts/nav.ts';
---

<nav>
	<ul>
		{
			navItems.map(({ name, path }) => (
				<li class:list={{ 'sr-only': path === Astro.url.pathname }}>
					<a href={path}>{name}</a>
				</li>
			))
		}
	</ul>
</nav>

<style>
	nav {
		ul {
			&::before {
				content: '[ ';
			}

			&::after {
				content: ' ]';
			}
		}

		li {
			display: inline-block;

			&::before {
				content: ' | ';
				white-space: pre;
			}

			&:first-child::before {
				content: none;
			}

			&:first-child.sr-only + li::before {
				content: none;
			}
		}

		a {
			background-image: none;
			color: inherit;
			text-decoration: none;
			text-transform: lowercase;

			&:hover {
				text-decoration: underline;
			}
		}
	}
</style>
