---
interface Props {
	text: string;
}

function slugify(str: string): string {
	return str.toLocaleLowerCase().replace(/  /g, ' ').replace(/ /g, '-');
}

const { text } = Astro.props;
---

<h2 id={slugify(text ?? '')}>
	{text}
</h2>

<style>
	h2 {
		counter-increment: sections;
		position: relative;

		&::before {
			content: counter(sections) '. ';
			font-size: 0.9em;
			left: -1.25rem;
			padding-top: 0.1em;
			position: absolute;
		}
	}
</style>
