---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<span>{text}</span>

<style>
	span {
		background-color: var(--c-text);
		border-radius: 5px;
		color: var(--c-bg);
		font-size: 0.9em;
		line-height: 1;
		padding-block: 0.1em 0.3em;
		padding-inline: 0.5em;
	}
</style>
