<h2 id="footnotes">Footnotes</h2>

<ol role={'doc-endnotes' as any}>
	<slot />
</ol>

<style>
	@import url('/src/styles/config/_mixins.css');

	h2 {
		@mixin small-title-font;
		margin-block-start: 0;
		&::after {
			content: ':';
		}
	}
</style>
