@font-face {
	font-family: 'CCartograph Sans CF';
  font-style: normal;
  font-weight: normal;
	src: url("../fonts/CartographSansCF-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'CCartograph Sans CF';
  font-style: normal;
  font-weight: bold;
	src: url("../fonts/CartographSansCF-Bold.woff2") format("woff2");
}

@font-face {
	font-family: 'CCartograph Sans CF';
  font-style: italic;
  font-weight: bold;
	src: url("../fonts/CartographSansCF-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: 'CCartograph Mono CF';
	font-style: normal;
  font-weight: normal;
	src: url("../fonts/CartographMonoCF-Medium.woff2") format("woff2");
}

@font-face {
	font-family: 'CCartograph Mono CF';
	font-style: italic;
  font-weight: bold;
	src: url("../fonts/CartographMonoCF-BoldItalic.woff2") format("woff2");
}
