---
title: About
---

<h1 class="subtitle u-clear-top-margin">Get to know me</h1>
<p>Hi. I'm Emmanuel Odongo &ndash; a junior web developer based in Łódź, Poland. I focus primarily on Ruby-based frameworks, with a touch of JS.</p>
<p>I blog about web development on this site. If you're feeling adventurous, delve into the <a href="https://github.com/Croccifixio/blog">source code</a> on GitHub.</p>
<h1 class="subtitle">Get in touch with me</h1>
<form name="contact" action="thank-you" netlify>
<p>Reach me by email at <a href="mailto:emmanuelodongo@outlook.com" target="_top">emmanuelodongo@outlook.com</a>.</p>
