---
title: About
---

<h1 class="subtitle u-clear-top-margin">Get to know me</h1>
<p>Hi. I'm Emmanuel Odongo &ndash; a junior web developer based in Łódź, Poland. I focus primarily on Ruby-based frameworks; though I am steadily easing myslef into the JS ecosystem.</p>
<p>I blog about web development on this site. If you're feeling adventurous, delve into the <a href="https://github.com/Croccifixio/blog">source code</a> on GitHub.</p>
<h1 class="subtitle">Get in touch with me</h1>
<form name="contact" action="thank-you" netlify netlify-honeypot="bot-field">
   <p style="display:none;"><label>Bot field: <input name="bot-field"></label></p>
  <div class="input-group float-label">
    <input type="text" id="name" placeholder=" ">
    <label for="name">Your Name</label>
  </div>
  <div class="input-group float-label">
    <input type="email" id="email" placeholder=" ">
    <label for="email">Your Email</label>
  </div>
  <div class="input-group float-label">
    <textarea id="message" rows="8" placeholder=" "></textarea>
    <label for="message">Message</label>
  </div>
  <p>
    <button>Send</button>
  </p>
</form>
