---
title: Contact
---

<h2 class="subtitle u-clear-top-margin">Get in touch with me</h2>
<p>You can reach me by email at <a href="mailto:emmanuelodongo@outlook.com" target="_top">emmanuelodongo@outlook.com</a>.</p>
<p>The <a href="https://github.com/Croccifixio/blog">source code</a> for this website is available on GitHub.</p>
