---
title: Odongo
---

<h1 class="title u-clear-top-margin">(^-^)</h1>
<div class="u-text-center">
	<p>Hi. I'm Emmanuel Odongo &ndash; a junior web developer based in Łódź, Poland.</p>
	<p><%= link_to 'Visit my blog', '/blog' %> to follow my progress on web design and front-end development.</p>
	<p>And if you're feeling adventurous, delve into the <a href="https://github.com/Croccifixio/blog">source code</a> for this site on GitHub.</p>
</div>
