---
title: Projects
---

<h1 class="title">Websites</h1>
<h2 class="subtitle u-clear-top-margin">Personal site</h2>
<p><a href="https://odongo.xyz">My personal site</a> is a hub where I blog about web development and showcase projects I have worked on.</p>
<h2 class="subtitle">Westlands Sundries</h2>
<p><a href="http://westlandssundries.com">Westlands Sundries Ltd</a> is a chain of book stores located in Nairobi, Kenya. The main idea of the site is to present a refined online identity and complement the brand's social media presence.</p>