---
title: Projects
---

<h1 class="subtitle u-clear-top-margin">Westlands Sundries website</h1>
<p><a href="http://westlandssundries.com">Westlands Sundries Ltd</a> is a chain of book stores located in Nairobi, Kenya. The main idea of the site is to present a refined online identity and complement the brand's social media presence.</p>